<input class="form-control" type="text" name="search" placeholder="Search"><br>
<table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Owner</th>
            <th scope="col">Company Name</th>
            <th scope="col">GST Number</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of business">
            <td>{{data._id}}</td>
            <td>{{data.person_name}}</td>
            <td>{{data.business_name}}</td>
            <td>{{data.business_gst_number}}</td>        
            <td>
              <button [routerLink]="['/detail',data._id]"  class="btn btn-primary">Show</button> &nbsp;
              <button (click) ="deleteBusiness(data._id)" type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary">Add New</button> &nbsp;
      <button (click)="refresh()" type="button" class="btn btn-secondary">Refresh</button>